@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h3>My secret is: @ViewBag.mySecret</h3>
    <h3>My Variable is: @ViewBag.myVariable</h3>
</div>

<div>
    <h3>My app Settings secret is: @ViewBag.myAppSettingsSecret</h3>
    <h3>My app Setting Variable is: @ViewBag.myAppSettingsVariable</h3>
</div>